@page
@model WesternInn_zilun_youxian_zhihan.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@* Generating the web form containing a search box. *@
<form method="get">
    <div class="row">
        <div class="col-sm-4">
            <select name="room">
                <option value="">Select room number</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].BedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
